.price  {
    padding: 10rem 0;
    background-color: #131313;
    margin: 5rem 0;
}

.price__wrapper {
 
    display: flex;
    justify-content: space-between;
}

.price__wrapper .price__item {
    flex: 0 0 30%;
    text-align: center;
    padding: 4rem 2.5rem;
    background-color: var(--dark);
    border-radius: 1rem;
}

.price__wrapper .price__item h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color:var(--primary);
    text-transform: uppercase;
}


.price__wrapper .price__item h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
} 

.price__wrapper .price__item ul {
    margin-bottom: 3rem;
}

.price__wrapper .price__item li {
    
    font-size: 1.8rem;
    padding: 2rem 0;
    border-bottom: 1px solid #f7f7f70c;
}
