.cta {
    background-image:url('https://images.pexels.com/photos/614077/pexels-photo-614077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position:center center ;
    background-size: cover;
    text-align: center;
    min-height: 72rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta h2 {
    font-size: 4rem;
    text-transform: uppercase;
}

.cta h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}