:root {
    --primary: #d48132;
    --dark:#222;
    --light:#f5f5f5;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    color: var(--light);
    line-height: 1.6;
    background-color: var(--dark);
}

.container {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

p {
    margin-bottom: 1.6rem;
}


.section__header {
    padding-bottom: 10rem;
    text-align: center;
}

.section__header h3 {
    position: relative;
    font-size: 4rem;
    overflow: hidden;
}

.section__header h3:after {
    content: '';
    width: 50vw;
    height: 2px;
    position: absolute;
    background-color: var(--light);
    top: 50%;
    
}

.section__header.left-bar  h3:after{
    left: -10rem;
}

.section__header.right-bar  h3:after{
   right: -10rem;
}

.section__header h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 100;
    opacity: .7;
} 